<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KnowYourPerformance</title>
    <link href="{{url_for('static',filename='css/output.css')}}" rel="stylesheet">
</head>

<body class="flex flex-col items-center min-h-screen bg-gray-100">
    <header class="relative top-0 bg-blue-500 text-white p-4 w-full text-center">
        <h1>Welcome to Our Landing Page!</h1>
    </header>
    <main class="bg-white p-8 shadow-lg max-w-3xl text-center m-8">
        <h2 class="text-2xl font-bold mb-4">About Our Product</h2>
        <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua.</p>
        <a href="#!" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Learn More</a>
    </main>
    <footer class="text-gray-500 p-4 w-full text-center fixed bottom-0">
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>
</body>

</html>